<div class="title">
  <span>About Me</span>
</div>

<div class="lg:mx-40 mx-20 flex lg:flex-row flex-col bg-secondary rounded-xl lg:rounded-3xl overflow-hidden lg:h-700 text-mytext">
  <div class="relative overflow-hidden rounded-xl lg:rounded-3xl m-5">
    <img src="./assets/img2.png" alt="" class="h-full aspect-square object-cover hover:scale-105 transition-all">
  </div>
  <div class="lg:p-40 p-10 grow">
    <p class="lg:text-8xl md:text-6xl text-4xl text-primary font-myFont">Ovik Biswas</p>
    <p class="text-base md:text-4xl lg:text-4xl font-myFont lg:my-30">Web Developer from Bangladesh</p>
    <div class="grid lg:grid-cols-3 grid-cols-2 gap-20 md:gap-40 lg:gap-20 w-full lg:h-400 h-450 md:h-650 lg:text-xl aboutme">
      <div>
        <p>Age</p>
        <p>15</p>
      </div>
      <div>
        <p>Location</p>
        <p>Bangladesh</p>
      </div>
      <div>
        <p>Exprience</p>
        <p>2+ years</p>
      </div>
      <div>
        <p>Hobby</p>
        <p>Coding</p>
      </div>
      <div>
        <p>Language</p>
        <p>Bangla</p>
      </div>
      <div>
        <p>Pronoun</p>
        <p>He</p>
      </div>
      <div>
        <p>Learning</p>
        <p>PHP Backend</p>
      </div>
      <div>
        <p>Favorite color</p>
        <p>Purple</p>
      </div>
      <div>
        <p>Dream</p>
        <p>Become a successful developer</p>
      </div>
    </div>
  </div>
</div>