<footer class="md:px-40 px-20 pt-20 bg-white/5 text-mytext">
  <div class="flex flex-col md:flex-row gap-10 items-center justify-between mb-10">
    <img src="./assets/logo.png" alt="" class="lg:h-30 h-20 my-10">
    <div class="flex gap-10">
      <div class="iconContainer"><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></div>
      <div class="iconContainer"><a href="https://youtube.com/@codeovik" target="_blank"><i class="fa-brands fa-youtube"></i></a></div>
      <div class="iconContainer"><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
      <div class="iconContainer"><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
    </div>
  </div>
  <hr class="opacity-30">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-20">
    <div class="flex flex-col">
      <p class="font-bold text-xl lg:text-4xl lg:mb-8">Contact</p>
        <div class="flex items-center mb-10 gap-6 md:gap-10">
          <i class="fa-solid fa-phone text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>
          <p class="md:text-base text-xs">+0123456789</p>
        </div>
        <div class="flex items-center mb-10 gap-6 md:gap-10">
          <i class="fa-solid fa-envelope text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>
          <p class="md:text-base text-xs">ovikbiswas01@gmail.com</p>
        </div>
        <div class="flex items-center gap-10">
          <i class="fa-solid fa-earth-americas text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>
          <p class="md:text-base text-xs">37/22 Chackbazar, Faridpur, Bangladesh</p>
        </div>
    </div>
    <div class="flex flex-col my-10 lg:my-0 font-light">
      <p class="font-font1 font-bold text-xl lg:text-4xl lg:mb-8">Site Map</p>
      <a href="./index.html" class="text-sm lg:text-xl lg:leading-35 after:content-[''] after:h-1 after:w-0 hover:after:w-full after:transition-all relative after:absolute after:bg-primary after:bottom-5 hover:text-primary after:left-0 w-max">Home</a>
      <a href="./about.html" class="text-sm lg:text-xl lg:leading-35 after:content-[''] after:h-1 after:w-0 hover:after:w-full after:transition-all relative after:absolute after:bg-primary after:bottom-5 hover:text-primary after:left-0 w-max">About</a>
      <a href="./portfolio.html" class="text-sm lg:text-xl lg:leading-35 after:content-[''] after:h-1 after:w-0 hover:after:w-full after:transition-all relative after:absolute after:bg-primary after:bottom-5 hover:text-primary after:left-0 w-max">Portfolio</a>
      <a href="./contact.html" class="text-sm lg:text-xl lg:leading-35 after:content-[''] after:h-1 after:w-0 hover:after:w-full after:transition-all relative after:absolute after:bg-primary after:bottom-5 hover:text-primary after:left-0 w-max">Contact</a>
    </div>
    <div class="flex flex-col font-light">
      <p class="font-font1 text-xl lg:text-4xl font-bold lg:mb-8">External Links</p>
      <a href="" class="text-sm lg:text-xl lg:leading-35 after:content-[''] after:h-1 after:w-0 hover:after:w-full after:transition-all relative after:absolute after:bg-primary after:bottom-5 hover:text-primary after:left-0 w-max">Buy it on Themeforest</a>
    </div>
  </div>
  <p class="copyright block text-center text-xs mt-20" id="year"></p>
  <script>
    
  </script>
  
  <div class="h-30"></div>
</footer>
