<div class="lg:mx-40 mx-20">
  <div class="title">
    <span>Let's Work Together</span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-40 gap-10 plan-container">
    <!-- plan 1 -->
    <div class="plan">
      <div class="flex flex-col">
        <p class="type">Basic</p>
        <p class="price">$5</p>
        <hr>
        <ul class="flex flex-col">
          <li><i class="fa-solid fa-circle-check"></i><p>One Page Design</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Fully Responsive</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Custom Color Theme</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Gradient Backgrounds</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Scroll Effects</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Parallax Effect</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Animations</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Extra JavaScript Features (FAQ, Slider)</p></li>
        </ul>
      </div>
      <a href="./assets/client1.png" class="btn"><span class="">Let's Hire<i class="fa-solid fa-arrow-right-long"></i></span></a>
    </div>
    <!-- plan 2 -->
    <div class="plan">
      <div class="flex flex-col">
        <p class="type">Pro</p>
        <p class="price">$30</p>
        <hr>
        <ul class="flex flex-col">
          <li><i class="fa-solid fa-circle-check"></i><p>One Page Design</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Fully Responsive</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Custom Color Theme</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Gradient Backgrounds</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Scroll Effects</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Parallax Effect</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Animations</p></li>
          <li><i class="fa-solid fa-circle-minus"></i><p>Extra JavaScript Features (FAQ, Slider)</p></li>
        </ul>
      </div>
      <a href="./assets/client1.png" class="btn"><span class="">Let's Hire<i class="fa-solid fa-arrow-right-long"></i></span></a>
    </div>
    <!-- plan 3 -->
    <div class="plan">
      <div class="flex flex-col">
        <p class="type">Premium</p>
        <p class="price">$500</p>
        <hr>
        <ul class="flex flex-col">
          <li><i class="fa-solid fa-circle-check"></i><p>One Page Design</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Fully Responsive</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Custom Color Theme</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Gradient Backgrounds</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Scroll Effects</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Parallax Effect</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Animations</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Extra JavaScript Features (FAQ, Slider)</p></li>
        </ul>
      </div>
      <a href="./assets/client1.png" class="btn"><span class="">Let's Hire<i class="fa-solid fa-arrow-right-long"></i></span></a>
    </div>

  </div>
</div>
