<div class="title">
  <span>Latest Portfolio</span>
</div>

<div class="lg:px-40 px-20 lg:gap-40 portfolio grid grid-cols-1 lg:grid-cols-2 portfolio-component">
  <!-- left side portfolio cards -->
  <div class="lg:gap-40 grid">

    <!-- Portfolio card 1 -->
    <div class="card">
      <img src="./assets/portfolio1.png" alt="">
      <a href="./food-delivery-app-development.html">
        <div>
          <p class="">Food Delivary App</p>
          <p class="">App Development | $400 | 6days</p>
        </div>
        <div><i class="fa-solid fa-arrow-right-long"></i></div>
      </a>
    </div>

    <!-- Portfolio card 2 -->
    <div class="card">
      <img src="./assets/portfolio1.png" alt="">
      <a href="./food-delivery-app-development.html">
        <div>
          <p class="">Food Delivary App</p>
          <p class="">App Development | $400 | 6days</p>
        </div>
        <div><i class="fa-solid fa-arrow-right-long"></i></div>
      </a>
    </div>

    <div class="lg:h-150"></div>
  </div>
  <!-- right side portfolio cards -->
  <div class="lg:gap-40 grid">
    <div class="lg:h-150"></div>

    <!-- Portfolio card 1 -->
    <div class="card">
      <img src="./assets/portfolio1.png" alt="">
      <a href="./food-delivery-app-development.html">
        <div>
          <p class="">Food Delivary App</p>
          <p class="">App Development | $400 | 6days</p>
        </div>
        <div><i class="fa-solid fa-arrow-right-long"></i></div>
      </a>
    </div>

    <!-- Portfolio card 2 -->
    <div class="card">
      <img src="./assets/portfolio1.png" alt="">
      <a href="./food-delivery-app-development.html">
        <div>
          <p class="">Food Delivary App</p>
          <p class="">App Development | $400 | 6days</p>
        </div>
        <div><i class="fa-solid fa-arrow-right-long"></i></div>
      </a>
    </div>
    
  </div>
</div>