<div class="skills-section mx-20 lg:mx-40 mt-40">
  <div class="title">
    <span>My Skills</span>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-30 gap-10 text-mytext">
    <div class="skill-container flex flex-col lg:gap-30 gap-10">
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>HTML</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
        <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="100"></div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>CSS</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
         <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="70"></div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>JavaScript</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
         <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="77"></div>
        </div>
      </div>
    </div>
    <div class="skill-container flex flex-col gap-10 lg:gap-30">
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>React</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
         <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="64"></div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>Tailwind CSS</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
         <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="68"></div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-name flex justify-between font-bold text-sm lg:text-xl">
          <span>Python</span>
          <span class="skill-percent text-xs lg:text-xl font-bold">0%</span>
        </div>
         <div class="lg:h-10 h-6 lg:outline-4 outline-2 outline-secondary bg-light1 dark:bg-secondary rounded-full overflow-hidden">
          <div class="skill-progress h-full w-0 bg-primary rounded-full transition duration-1000 ease-out" data-width="10"></div>
        </div>
      </div>
    </div>
  </div>
</div>