<div class="statistics mt-40 text-mytext lg:px-40 px-20 lg:gap-20 gap-10 grid md:grid-cols-3" id="counterSection">
  <!-- box 1 -->
  <div class="p-20 lg:p-60 rounded-xl lg:rounded-3xl bg-secondary box">
    <div class="flex flex-col">
      <p class="text-primary text-5xl lg:text-8xl font-extrabold font-myFont counter text-center" data-target="25">0</p>
      <p class="font-myFont text-xl lg:text-4xl py-5 text-center">Years Of Exprience</p>
    </div>
  </div>

  <!-- box 2 -->
  <div class="p-20 lg:p-60 rounded-xl lg:rounded-3xl bg-secondary box">
    <div class="flex flex-col">
      <p class="text-primary text-5xl lg:text-8xl font-extrabold font-myFont counter text-center" data-target="500">0</p>
      <p class="font-myFont text-xl lg:text-4xl py-5 text-center">Code Bits</p>
    </div>
  </div>

  <!-- box 3 -->
  <div class="p-20 lg:p-60 rounded-xl lg:rounded-3xl bg-secondary box">
    <div class="flex flex-col">
      <p class="text-primary text-5xl lg:text-8xl font-extrabold font-myFont counter text-center" data-target="120">0</p>
      <p class="font-myFont text-xl lg:text-4xl py-5 text-center">Clients Review</p>
    </div>
  </div>
</div>